<div class="weather-content">

  <div class="weather-content__current-weather" *ngFor="let item of weatherList">
    <p>{{ item.description | titlecase }}</p>
    <img src="{{imageSource}}">
  </div>

  <p>this is the right page</p>

  <div class="weather-content__5day">
    <div class="weather-content__5day__day" *ngFor="let item of fiveDayForecast">
      <p>{{ item.dt_txt | formatDate }}</p>
      <p>Temperature: {{ item.main.temp }}	&#8451;</p>
      <p>Outlook: {{ item.weather[0].main }}</p>
      <img src="{{imageSource}}">
      <P>Windspeed: {{ item.wind.speed }}</P>
    </div>
  </div>
</div>