<div class="main-container" id="mainContainer">
  <div class="main-container__header">
    <a>
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Weather-sun-clouds-rain.svg/1024px-Weather-sun-clouds-rain.svg.png"
        width="30" height="30" class="d-inline-block align-top" alt="">
    </a>
    <h3 style="color:white">Weather App</h3>
  </div>
  <div class="main-container__form">
    <form #f="ngForm" (ngSubmit)="onSubmit()">
      <div id="city" ngModelGroup="userData" #userData="ngModelGroup">
        <div class="form-group">
          <label for="city">Input your city</label>
          <input type="text" id="city" class="form-control" ngModel name="city" required>
        </div>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
    </form>
  </div>
  <div class="main-container__map">
    <div id="myMap"></div>
  </div>
  <div class="main-container__main">
    <app-display-weather *ngIf="resultsFound" [cityName]="cityName"></app-display-weather>
    <!-- <app-display-weather></app-display-weather> -->
  </div>
  <div class="main-container__footer">
    <p>&copy;Emmabyrne36 2018 <a href="https://github.com/Emmabyrne36"><img src="../assets/images/GitHub-Mark-Light-32px.png"></a></p>
  </div>
</div>
